### Step 1 - Data Cleaning

Open all the recipes data in one file and prepare them for further analysis!

In [1]:
# Import the necessary library!
import pandas as pd
import os
import numpy as np
import glob
import datetime

import nltk
import re
import string
from nltk.tokenize import RegexpTokenizer  
from nltk.corpus import stopwords  
from nltk.tokenize import word_tokenize
print('package ready')

package ready

In [2]:
# List all the files in the folder!  
files = glob.glob('guardian/*.csv')
# read the files in a dataframe  
data_df = [pd.read_csv(f) for f in files]

In [3]:
# Append all the files together  
data = pd.concat(data_df,ignore_index=True)
# Sort by date and Reset the index  
data = data.sort_values(['date']).reset_index()  
# Drop the duplicates  
data = data.drop_duplicates(['date','headline_list','author'])

ValueError: No objects to concatenate

In [7]:
print("Number of data (recipes) : " + str(data.shape))
print()
data.head(2)

Number of data (recipes) : (7439, 9)

,date,headline_list,category,author,subtitle,article_content,comments_number,share_number,url
0,2008-10-18T00:01:00+0100,Good fast food,Cooking for kids,NaN,It's that familiar scene: hardly any food in t...,Stringy stretchy omelettes\nEggs are obviously...,No Comments,0,https://www.theguardian.com/lifeandstyle/2008/...
1,2008-10-18T00:01:00+0100,Top 10,Cooking for kids,NaN,Sandwich fillings,1 Cheese and tomato\n2 Apple slaw: mix mayonna...,No Comments,0,https://www.theguardian.com/lifeandstyle/2008/...

In [6]:
# Drop the column that we don't need
data = data.drop(columns=['Unnamed: 0','index'])

In [8]:
# Look for null value in the data
print(data.isnull().sum())

date                 0
headline_list        3
category            10
author             320
subtitle           185
article_content      1
comments_number      3
share_number         3
url                  2
dtype: int64

In [9]:
# Make a bit of cleaning
# Delete all the article with category 'Family Life' - Not relevant for recipes analysis! 
data = data[data['category']!='Family life']

In [ ]:
# Check at the name of the author
#for i in data.author:
  #  print(i)

In [10]:
# Replace the author that have been wrongly webscraped!  
data = data.replace({'[<meta content="Dale Berning Sawa" name="author"/>]':'Dale Berning Sawa',  
                     '[<meta content="Chi-chi Nwanoku" name="author"/>]':'Chi-chi Nwanoku',  
                     '[<meta content="Hugh Fearnley-Whittingstall" name="author"/>]':'Hugh Fearnley-Whittingstall',  
                     '[<meta content="Jeanette Winterson" name="author"/>]':'Jeanette Winterson',  
                     '[<meta content="Matthew Fort" name="author"/>]':'Matthew Fort',  
                     '[<meta content="Susan McCarthy" name="author"/>]':'Susan McCarthy',  
                     '[<meta content="Ariane Sherine" name="author"/>]':'Ariane Sherine',  
                     '[<meta content="Ruby Tandoh" name="author"/>]':'Ruby Tandoh',  
                     '[<meta content="the Guardian" name="author"/>]':'the Guardian',  
                     '[<meta content="Romy Ash" name="author"/>, <meta content="Sarah Trotter" name="author"/>, <meta content="Romy Ash" name="author"/>, <meta content="Lauren Bamford" name="author"/>, <meta content="Sarah Trotter" name="author"/>]':'Romy Ash, Sara Trotter, Lauren Bamford',  
                     '[<meta content="Clem Bastow" name="author"/>]':'Clem Bastow',  
                     '[<meta content="Yotam Ottolenghi" name="author"/>, <meta content="Uyen Luu" name="author"/>, <meta content="David Frenkiel" name="author"/>, <meta content="Luise Vindahl" name="author"/>, <meta content="Caroline Craig" name="author"/>]':'Caroline Craig, Luise Vindahl, Yotam Ottolenghi, Uyen Luu, David Frenkiel',  
                     'Yotam Ottlenghi':'Yotam Ottolenghi','Yuki Sugiura, Valerie Berry, Lee Gould, Rachel Vere and Music by Evan Gildersleeve, theguardian.com':'Yuki Sugiura, Valerie Berry, Lee Gould, Rachel Vere',
                     'Hugh-Fearnley Whittingstall':'Hugh Fearnley-Whittingstall','Hugh Fearnley-Whittinstall':'Hugh Fearnley-Whittingstall'})

# If NaN for authors and NaN for subtitle -> change it to none!   
values = {'author': 'none', 'subtitle':'none'}  
data = data.fillna(value=values)

In [11]:
# Check for the no comments and no url!
test = data[data['comments_number'].isnull()]  
test.share_number = 'No Sharing'  
data.append(test)

change = data[(data['date'] == '2015-01-20') & (data['author']== 'Ruby Tandoh' )]  
change.share_number = 52  
change.url = 'https://www.theguardian.com/lifeandstyle/2015/jan/20/best-baking-recipes-from-2014-ruby-tandoh'  
change.comments_number = 25  
data.append(change)

print("Change ok!")

Change ok!

/Users/audevuilliomenet/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [12]:
# Remove the rows if NaN is in url, headline_list, share_number and category after having make the above change!  
data = data.dropna(subset = ['headline_list','url','share_number','category'])  

print('Number of rows (recipes), data clean: ' + str(data.shape))
print("")
print('Data Clean')

Number of rows (recipes), data clean: (7365, 9)

Data Clean

In [ ]:
# Check the types of the data!
data.dtypes

In [13]:
data.head(2)

,date,headline_list,category,author,subtitle,article_content,comments_number,share_number,url
0,2008-10-18T00:01:00+0100,Good fast food,Cooking for kids,none,It's that familiar scene: hardly any food in t...,Stringy stretchy omelettes\nEggs are obviously...,No Comments,0,https://www.theguardian.com/lifeandstyle/2008/...
1,2008-10-18T00:01:00+0100,Top 10,Cooking for kids,none,Sandwich fillings,1 Cheese and tomato\n2 Apple slaw: mix mayonna...,No Comments,0,https://www.theguardian.com/lifeandstyle/2008/...

Change the data date to date instead of object!

In [14]:
#Separe the date in year and month
# Remove the strings of time in date. Keep only the day and the month.b  
data.date = data.date.str.replace('T\d.*','')  
data['date'] = pd.to_datetime(data['date'])

# Add a column in dataframe for the year, month and day  
data['year'] = data['date'].dt.year  
data['month'] = data['date'].dt.month_name()  
data['day'] = data['date'].dt.day

In [15]:
## Function for tokenization and cleaning text!   
cleaning = ['headline_list','subtitle','article_content']  
stop = stopwords.words('english')  

def cleandata(data):
        for i in cleaning:
                print(str(i))
                # Remove the punctuation  
                data['clean_'+str(i)] = data[i].apply(lambda x:x.translate(str.maketrans('','', string.punctuation)))  
                print('step 1: punctuation remove')

                # Remove the '\\n' line_brakes  
                data['clean_'+str(i)] = data['clean_'+str(i)].str.replace(r'\n',' ')
                # Get all the words in lowercase  
                data['clean_'+str(i)] = data['clean_'+str(i)].str.lower()  
                if i == 'article_content':
                    data['clean_'+str(i)] = data['clean_'+str(i)].str.replace(r'since you’re here.*','')
                print('step 2: words in lowercase')

                # Remove all the english stopwords!  
                data['nostop_words_'+'clean_'+str(i)] = data['clean_'+str(i)].apply(  
                lambda x: ' '.join([word for word in x.split() if word not in (stop)]))  
                # Remove the special characters!  
                data['nostop_words_'+'clean_'+str(i)] = data['nostop_words_'+'clean_'+str(i)].str.replace(r"\’|\s\–|\'",'')                                                                                    
                data['nostop_words_'+'clean_'+str(i)] = data['nostop_words_'+'clean_'+str(i)].str.replace(r'[0-9]+', '')
                
                print('step 3: nonstopwords and special characters removed')

                # Tokenize the text  
                data['token_'+str(i)] = data['nostop_words_'+'clean_'+str(i)].apply(word_tokenize)
                print('step 4: words tokenize')
                print('Data Clean Finish')
                print("")
                
              #data['clean_'+str(i)] = data['clean_'+str(i)].str.replace(guardian1,'')
                
        return

cleandata(data)

headline_list
step 1: punctuation remove
step 2: words in lowercase
step 3: nonstopwords and special characters removed
step 4: words tokenize
Data Clean Finish

subtitle
step 1: punctuation remove
step 2: words in lowercase
step 3: nonstopwords and special characters removed
step 4: words tokenize
Data Clean Finish

article_content
step 1: punctuation remove
step 2: words in lowercase
step 3: nonstopwords and special characters removed
step 4: words tokenize
Data Clean Finish

In [16]:
data.head(2)

,date,headline_list,category,author,subtitle,article_content,comments_number,share_number,url,year,...,day,clean_headline_list,nostop_words_clean_headline_list,token_headline_list,clean_subtitle,nostop_words_clean_subtitle,token_subtitle,clean_article_content,nostop_words_clean_article_content,token_article_content
0,2008-10-18,Good fast food,Cooking for kids,none,It's that familiar scene: hardly any food in t...,Stringy stretchy omelettes\nEggs are obviously...,No Comments,0,https://www.theguardian.com/lifeandstyle/2008/...,2008,...,18,good fast food,good fast food,"[good, fast, food]",its that familiar scene hardly any food in the...,familiar scene hardly food house gaggle hungry...,"[familiar, scene, hardly, food, house, gaggle,...",stringy stretchy omelettes eggs are obviously ...,stringy stretchy omelettes eggs obviously sent...,"[stringy, stretchy, omelettes, eggs, obviously..."
1,2008-10-18,Top 10,Cooking for kids,none,Sandwich fillings,1 Cheese and tomato\n2 Apple slaw: mix mayonna...,No Comments,0,https://www.theguardian.com/lifeandstyle/2008/...,2008,...,18,top 10,top,[top],sandwich fillings,sandwich fillings,"[sandwich, fillings]",1 cheese and tomato 2 apple slaw mix mayonnais...,cheese tomato apple slaw mix mayonnaise lemo...,"[cheese, tomato, apple, slaw, mix, mayonnaise,..."

In [17]:
# Save the Clean Text in a CSV file
data = data.drop_duplicates(['date','headline_list'],keep='first')
data.to_csv('guardian_clean_data.csv')
print('data clean and save in csv file')

data clean and save in csv file