### Step 2 - Exploratory Data Analysis!

1. Most published chef per year
2. Most popular category per year
3. Most popular recipes (number of sharing!)

In [1]:
import pandas as pd
import os
import numpy as np
import glob

import nltk
import re
import string
from nltk.tokenize import RegexpTokenizer  
from nltk.corpus import stopwords  
from nltk.tokenize import word_tokenize

In [2]:
# Open the clean data file
data = pd.read_csv('guardian_clean_data.csv')

In [3]:
# Drop the column that we don't need
data = data.drop(columns=['Unnamed: 0'])
data.head(2)

,date,headline_list,category,author,subtitle,article_content,comments_number,share_number,url,year,...,day,clean_headline_list,nostop_words_clean_headline_list,token_headline_list,clean_subtitle,nostop_words_clean_subtitle,token_subtitle,clean_article_content,nostop_words_clean_article_content,token_article_content
0,2009-04-12,My space,My space,Anna Chapman,The passionate entrepreneur Willy Harcourt-Coo...,"E\night years ago, my wife Tania and I came ba...",No Comments,0,https://www.theguardian.com/lifeandstyle/2009/...,2009,...,12,my space,space,['space'],the passionate entrepreneur willy harcourtcooz...,passionate entrepreneur willy harcourtcooze op...,"['passionate', 'entrepreneur', 'willy', 'harco...",e ight years ago my wife tania and i came back...,e ight years ago wife tania came back venezuel...,"['e', 'ight', 'years', 'ago', 'wife', 'tania',..."
1,2009-04-12,Nigel Slater's Easter eggs,Nigel Slater recipes,Nigel Slater,Nothing comes with a trickier reputation to ma...,I\nt is fair to say the eggs I am most interes...,No Comments,No Sharing,https://www.theguardian.com/lifeandstyle/2009/...,2009,...,12,nigel slaters easter eggs,nigel slaters easter eggs,"['nigel', 'slaters', 'easter', 'eggs']",nothing comes with a trickier reputation to ma...,nothing comes trickier reputation make soufflé...,"['nothing', 'comes', 'trickier', 'reputation',...",i t is fair to say the eggs i am most interest...,fair say eggs interested come weekend wrapped ...,"['fair', 'say', 'eggs', 'interested', 'come', ..."

### Most popular chefs per year
Highest count of recipes published!

In [4]:
# Groupby Year and authors! # Add the count number to the column in the dataframe!
data['year_author_count'] = data.groupby(['year','author'])['year'].transform('count')

# 1. Sort the values per year and number of recipes published
top_chef = data.sort_values(['year','year_author_count'],ascending=False)
# 2. Drop duplicates and reset the index
top_chef = top_chef.drop_duplicates(['author','year'], keep='first').reset_index()
# 3. If author is none disregard it
top_chef = top_chef[top_chef['author'] != 'none']
# 4. Delet the old index column
top_chef = top_chef.drop(columns={'index'})
# 5. Selection only the 5 first chefs for each year!
most_popular_chefs = top_chef.groupby('year').head()
most_popular_chefs = most_popular_chefs[['author','category','year','headline_list','year_author_count','url']]

In [5]:
most_popular_chefs.head(2)

,author,category,year,headline_list,year_author_count,url
0,Nigel Slater,Nigel Slater recipes,2019,Nigel Slater’s recipes for roast meat leftovers,32,https://www.theguardian.com/food/2019/apr/21/n...
1,Meera Sodha,The new vegan,2019,Meera Sodha’s vegan recipe for tofu with sweet...,22,https://www.theguardian.com/food/2019/apr/20/m...

In [6]:
most_popular_chefs.to_csv('most_popular_chefs.csv')

### Chefs contribution to each category
Which chef has contribute to which category?

In [7]:
# Create a list that contains all possible categories!
category_list = []
for i in data.category:
    if i not in category_list:
        category_list.append(i)

In [8]:
category_authors_list = []

for i in category_list:
    
    filterdata_category = data.loc[data['category']==i]
    #Find all the chefs in each category
    filterdata_category['category_count_authors'] = filterdata_category.groupby(['category','author'])['author'].transform('count')
    filterdata_category = filterdata_category.sort_values(['category','author'],ascending=False)
    #filterdata_category['category_count_authors'] = filterdata_category.groupby(['category','author']).transform('count')
    # Drop duplicates (author, category)
    category_authors = filterdata_category.drop_duplicates(subset=['author','category'], keep='first')
    # Disregard author = none and keep only the author name and category
    category_authors = category_authors[category_authors['author'] != 'none']
    category_authors = category_authors[['author','category','category_count_authors']]
    # Append each category_authors to list result
    category_authors_list.append(category_authors)
    # Append lists results to one big dataframe!
    category_authors_df = pd.concat(category_authors_list)
    
    category_authors_df = category_authors_df.reset_index()

/Users/audevuilliomenet/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [9]:
#category_authors_df = category_authors_df.drop(columns={'index'})

In [10]:
category_authors_df.head(3)

           author              category  category_count_authors
0    Anna Chapman              My space                       2
1    Nigel Slater  Nigel Slater recipes                     609
2  Sabine Durrant                Family                       1

In [11]:
# Save the dataframe in csv file!
category_authors_df.to_csv('category_authors_contribution.csv')

In [ ]:
# Create a list that contains all possible chefs!
chefs_list = []
for i in data.author:
    if i not in chefs_list:
        chefs_list.append(i)

In [ ]:
# Create a list that contains common festivities.